@model eApoteka.Models.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "PretragaView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page with Carousels</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #fff;
            color: #333;
        }

        .search-section {
            text-align: center;
            padding: 50px 0;
        }

            .search-section h2 {
                margin-bottom: 30px;
                font-weight: 300;
                color: #659934;
                font-size: 2.5em;
            }

        .search-bar {
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            border: 1px solid #ccc;
            border-radius: 50px;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
        }

            .search-bar input {
                border: none;
                padding: 15px;
                flex-grow: 1;
                border-radius: 50px 0 0 50px;
                border: 1px solid #659934 !important;
            }

            .search-bar a {
                border: none;
                padding: 15px 30px;
                background-color: #659934;
                color: white;
                border-radius: 0 50px 50px 0;
                text-decoration: none;
            }

                .search-bar a:hover {
                    background-color: rgba(101, 153, 52, 0.8);
                    border-color: rgba(101, 153, 52, 0.8);
                    color: white;
                }

        .suggestions {
            text-align: left;
            width: 400px;
            padding: 10px;
            margin: auto;
            background-color: white;
        }

        .suggestions-list {
            list-style-type: none;
            padding-left: 0;
            list-style: none;
            counter-reset: item;
        }

            .suggestions-list li {
                border: 2px solid #659934;
                border-radius: 15px;
                padding: 10px;
                cursor: pointer;
                counter-increment: item;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

                .suggestions-list li:before {
                    content: counter(item);
                    background: #659934;
                    border-radius: 50%;
                    color: white;
                    width: 2em;
                    height: 2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }

                .suggestions-list li:hover {
                    background-color: #f0f0f0;
                }

        .item-title {
            font-weight: bold;
            color: #292929;
            flex-grow: 1;
        }

        .item-price {
            color: #659934;
            margin-right: 10px;
        }

        .item-link {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
            width: 100%;
        }

            .item-link:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="search-section">
            <h2>What are you looking for?</h2>
            <div class="search-bar">
                <input type="text" placeholder="Type here" id="search-input">
                <a href="#" id="search-button">Search</a>
            </div>
            <div class="suggestions">
                <ol id="suggestions-list" class="suggestions-list"></ol>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                var query = $(this).val();
                if (query.length > 2) {
                    $.ajax({
                        url: '@Url.Action("GetSuggestions", "Search")',
                        type: 'GET',
                        data: { term: query },
                        success: function (data) {
                            $('#suggestions-list').empty();
                            $.each(data, function (index, item) {
                                $('#suggestions-list').append('<li><a href="/ProizvodDetails/' + item.id + '" class="item-link"><div class="item-title">' + item.name + '</div><div class="item-price">' + item.price + ' $ </div></a></li>');
                            });
                        }
                    });
                } else {
                    $('#suggestions-list').empty();
                }
            });

            $('#suggestions-list').on('click', 'li', function () {
                $('#search-input').val($(this).find('.item-title').text());
                $('#suggestions-list').empty();
            });

            $('#search-button').on('click', function (e) {
                e.preventDefault();
                var query = $('#search-input').val();
                if (query.length > 2) {
                    $.ajax({
                        url: '@Url.Action("GetSuggestions", "Search")',
                        type: 'GET',
                        data: { term: query },
                        success: function (data) {
                            if (data.length > 0) {
                                window.location.href = '/ProizvodDetails/' + data[0].id;
                            }
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
